// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults

// FONTS
$font-family-sans-serif: "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$h1-font-size: 3.815rem;
$h2-font-size: 3.052rem;
$h3-font-size: 2.441rem;
$h4-font-size: 1.953rem;
$h5-font-size: 1.563rem;
$h6-font-size: 1.25rem;

// COLOUR THEME
$primary:#cb181d;
$secondary:#fb6a4a;
$success:#31a354;
$warning:#fcb017;
$danger:#ef3b2c;
$white: #fff;
$off-white:#f5f5f5;
$light:#b3b5ba;
$med:#76777a;
$dark:#353535;

$social: #3182BD;
$emotional: #54278F;
$physical: #006D2C;
$language: #C51B8A;
$communication: #E6550D;
$vulnerable: #cb181d;
$influx: #FCB017;
$ontrack: #8EC73F;

.socialColor {
  color: $social;
}
.emotionalColor {
  color: $emotional;
}
.physicalColor {
  color: $physical;
}
.languageColor {
  color: $language;
}
.communicationColor {
  color: $communication;
}
.vulnerableColor {
  color: $primary;
}
.inFluxColor {
  color: $influx;
}
.onTrackColor {
  color: $ontrack;
}

.socialBcgColor {
  background-color: $social;
}
.emotionalBcgColor {
  background-color: $emotional;
}
.physicalBcgColor {
  background-color: $physical;
}
.languageBcgColor {
  background-color: $language;
}
.communicationBcgColor {
  background-color: $communication;
}
.vulnerableBcgColor {
  background-color: $primary;
}

.bg-offwhite {
  background-color: $off-white;
}




@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";

body {
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  // overflow-x: hidden !important;
}

.row {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  line-height: 1.6em;
}

.mt-10 {
  margin-top: 10rem;
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}

.pulloutbox {
  background-color: $off-white;
  padding: 2rem;
}



// TAB STYLES

.nav-pills .nav-link {
  padding: 1rem;
  border-radius: 50px;
  width: 90%;
  &.vulnerable {
    color: $primary;
    border: 2px solid $primary;
    &:hover {
      color: #f5f5f5;
      background-color: rgba($primary,0.75);
    }
  }
  &.social {
    color: $social;
    border: 2px solid $social;
    &:hover {
      color: #f5f5f5;
      background-color: rgba($social,0.75);
    }
  }
  &.emotional {
    color: $emotional;
    border: 2px solid $emotional;
    &:hover {
      color: #f5f5f5;
      background-color: rgba($emotional,0.75);
    }
  }
  &.physical {
    color: $physical;
    border: 2px solid $physical;
    &:hover {
      color: #f5f5f5;
      background-color: rgba($physical,0.75);
    }
  }
  &.language {
    color: $language;
    border: 2px solid $language;
    &:hover {
      color: #f5f5f5;
      background-color: rgba($language,0.75);
    }
  }
  &.communication {
    color: $communication;
    border: 2px solid $communication;
    &:hover {
      color: #f5f5f5;
      background-color: rgba($communication,0.75);
    }
  }
}

.nav-pills .nav-link.active {
  color: #f5f5f5;
}

.nav-pills .nav-link.active.social {
  background-color: $social;
}
.nav-pills .nav-link.active.emotional {
  background-color: $emotional;
}
.nav-pills .nav-link.active.physical {
  background-color: $physical;
}
.nav-pills .nav-link.active.language {
  background-color: $language;
}
.nav-pills .nav-link.active.communication {
  background-color: $communication;
}



// BUTTON STYLES

.btn {
  background-color: transparent;
}

.btn {
  border: none;
  box-shadow: none;
  border-radius: 50px;
}
.btn-primary {
  color: $primary;
  background: transparent;
  border: 2px solid $primary;
  &:hover {
    background: $primary;
  }
}
.btn-secondary {
  background: $med;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: $primary;
}



// SIDEBAR NAV STYLING
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  color: $dark;
  background: rgba($white,0.5);
  transition: all 0.3s;
  font-size: 1.1rem;
  padding: 1rem;
  > #sidebarNavElements {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    > li {
      padding-bottom: 1rem;
      > ul > li {
        font-size: 0.9rem;
        padding-bottom: 1rem;
        margin-left: 0.5rem;
      }
      > ul > li:first-child {
        padding-top: 1rem;
      }
    }
  }
}



// INTRODUCTION
#landing-screen {
  width: 100%;
  position: relative;
  height: 80vh;
  #title-wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
}



// PARTICIPATION/DEMOGRAPHICS
.tableContainer {
  position: relative;
  height: 360px;
  margin-bottom: 3rem;
}

#demoNumTable_btn, #demoPercentTable_btn {
  padding: .5rem 1.5rem;
}

#demoNumTable {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#demoPercentTable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: visible;
}




// MAPBOX MAP STYLES
/**
* Create a position for the map
* on the page */
#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: auto;
  height: 600px;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */

.mapBoxContainer {
  position: relative;
}

.map-overlay, .map-description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  overflow: auto;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.map-overlay {
  height: 70%;
  right: 30px;
}
.map-description {
  height: 90%;
  left: 30px;
}
.legendClasses {
  width: 110px;
  height: auto;
}

.mapboxgl-ctrl-fullscreen {
  position: absolute;
  top: 80px;
  left: 100px;
}



