// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults

// // FONTS
$font-family-sans-serif: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "common/variables";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

//
// Custom styles
//

@import "icon-list";
@import "common/global";
@import "common/mixins";
@import "common/typography";
@import "common/backgrounds";
@import "components/buttons";
// @import "components/comments";
// @import "components/forms";
@import "components/images";
@import "components/cards";
@import "components/box_quotes";
@import "components/icons";
@import "components/timeline";
@import "components/faq";
@import "components/carousel";
@import "components/tables";
// @import "components/wp-classes";

// COLOR STYLES

.socialColor {
  color: $social;
}

.emotionalColor {
  color: $emotional;
}

.physicalColor {
  color: $physical;
}

.languageColor {
  color: $language;
}

.communicationColor {
  color: $communication;
}

.vulnerableColor {
  color: $edi-base;
}

.inFluxColor {
  color: $influx;
}

.onTrackColor {
  color: $ontrack;
}

// ------------------------------------- NEW!!!!! Couldn't get mixins working --------------------------------------

.lightGreyColor {
  color: $light;
}

.medGreyColor {
  color: $med;
}

.darkGreyColor {
  color: $dark;
}

.lightGreyBcgColor {
  background-color: $light;
}

.medGreyBcgColor {
  background-color: $med;
}

.darkGreyBcgColor {
  background-color: $dark;
}

// ------------------------------------- END OF NEW COLOR STYLES !!!!! --------------------------------------

.socialBcgColor {
  background-color: $social;
}

.emotionalBcgColor {
  background-color: $emotional;
}

.physicalBcgColor {
  background-color: $physical;
}

.languageBcgColor {
  background-color: $language;
}

.communicationBcgColor {
  background-color: $communication;
}

.vulnerableBcgColor {
  background-color: $edi-base;
}
.inFluxBcgColor {
  background-color: $influx;
}
.onTrackBcgColor {
  background-color: $ontrack;
}

.bg-offwhite {
  background-color: $off-white;
}

// SIDEBAR MENU STYLES
#edi-synth-side-menu {
  top: 16rem;
  font-size: 0.85rem;
  margin-top: 3rem;
  .list-group-item {
    padding: 0.5rem;
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-width: 0 0 1px;
    font-weight: 400;
    &:hover {
      background-color: $gray-100;
      text-decoration: none;
    }
  }
  .list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
  }
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}

// TAB STYLES
.nav-pills .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  width: 90%;

  &.vulnerable {
    color: $edi-base;
    border: 2px solid $edi-base;

    &:hover {
      color: #f5f5f5;
      background-color: rgba($edi-base, 0.75);
    }

    &.active {
      background-color: $edi-base;
    }
  }

  &.social {
    color: $social;
    border: 2px solid $social;

    &:hover {
      color: #f5f5f5;
      background-color: rgba($social, 0.75);
    }
  }

  &.emotional {
    color: $emotional;
    border: 2px solid $emotional;

    &:hover {
      color: #f5f5f5;
      background-color: rgba($emotional, 0.75);
    }
  }

  &.physical {
    color: $physical;
    border: 2px solid $physical;

    &:hover {
      color: #f5f5f5;
      background-color: rgba($physical, 0.75);
    }
  }

  &.language {
    color: $language;
    border: 2px solid $language;

    &:hover {
      color: #f5f5f5;
      background-color: rgba($language, 0.75);
    }
  }

  &.communication {
    color: $communication;
    border: 2px solid $communication;

    &:hover {
      color: #f5f5f5;
      background-color: rgba($communication, 0.75);
    }
  }
}

.nav-pills .nav-link.active {
  color: #f5f5f5;
}

.nav-pills .nav-link.active.social {
  background-color: $social;
}

.nav-pills .nav-link.active.emotional {
  background-color: $emotional;
}

.nav-pills .nav-link.active.physical {
  background-color: $physical;
}

.nav-pills .nav-link.active.language {
  background-color: $language;
}

.nav-pills .nav-link.active.communication {
  background-color: $communication;
}

// BUTTON STYLES
.btn-custom {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 50px;
}

.btn-custom-primary {
  color: $edi-base;
  background: transparent;
  border: 2px solid $edi-base;

  &:hover {
    background: $edi-base;
    color: $white-colour;
    border: 2px solid $edi-base;
  }

  &.active {
    color: $white;
    background-color: #9d1316;
    background-image: none;
    border-color: #921115;
  }
}

#BigPictureButtons {
  &.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
  .btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.btn-group > .btn:not(:first-child),
  .btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.btn-custom-secondary {
  background: $med;

  & :not(:disabled):not(.disabled).active {
    background-color: $edi-base;
  }
}

// LINK STYLES ------------------------------------------------------------- NEW!!!!

#edi-synth-container a {
  color: $font-base-colour;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: $edi-base;
    text-decoration: underline;
  }
}



// PLOTLY JS CUSTOM STYLES ------------------------------------------------- NEW!!!!

.chartTitle p {
  font-size: 16px;
  color: $med;
}
.chartCopyright p {
  font-size: 12px;
  color: $med;
}
.subscaleCopyright {
  position: relative;
  top: -25px;
}
a.chartDownloadBtn {
  color: $light !important;
  position: relative;
  bottom: -35px;
  right: 10px;
  z-index: 10;
  &:hover {
    color: $edi-base !important;
  }
  &.tableDownloadBtn {
    bottom: 40px;
    right: 800px;
  }
  &.nhRangeDownloadBtn {
    bottom: -60px;
    right: -820px;
  }
  &.urbanRuralDownloadBtn {
    top: 525px;
  }
  &.scaleOutcomesDownloadBtn {
    bottom: -60px;
  }
  &.subscaleDownloadBtn {
    top:-65px;
  }
}
// change hover cursor type
.js-plotly-plot .plotly .cursor-pointer {
  cursor: default !important;
}


// LANDING/INTRODUCTION
#landing-screen {
  width: 100%;
  position: relative;
  height: 80vh;
  background-image: url("../images/landingImage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  margin-top: -1rem;
  #title-wrap {
    width: 80%;
    position: absolute;
    bottom: -25px;
    left: 75px;
    display: inline-block;
    > .landing-content-wrap {
      > p {
        margin-bottom: 0;
      }
    }
  }
}

#logo-container {
  position: relative;
  z-index: 4;
  display: inline-block;
  background-color: rgba($off-white, 0.65);
  padding: 20px;
  > p {
    padding: 20px 0px 10px;
    font-size: 55px;
    line-height: 45px;
  }
  > img {
    margin: 20px;
    width: 200px;
    display: block;
    height: auto;
  }
}

#landing-titleContainer {
  width: auto;
  position: relative;
  z-index: 3;
  display: inline-block;
  top: -115px;
  left: -25px;
  background-color: rgba(#fb6a4a, 0.5);
  text-transform: uppercase;
  padding: 20px 35px;
  > p {
    font-size: 40px;
    color: $white;
  }
}

#landing-subtitleContainer {
  width: auto;
  position: relative;
  top: -130px;
  left: 300px;
  z-index: 2;
  background-color: rgba($dark, 0.5);
  display: inline-block;
  padding: 35px 20px 20px 20px;
  text-transform: uppercase;
  > p {
    font-size: 30px;
    color: $white;
  }
}

#introduction h5 {
  line-height: 2rem;
}

@media (max-width: 1250px) {
  #title-wrap {
    bottom: 0;
    left: 50px;
    top: 0;
  }
  #landing-titleContainer,
  #landing-subtitleContainer {
    width: 280px;
    top: 0;
    left: 0;
    display: block;
    padding: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 1440px) {
  #landing-screen {
    #title-wrap {
      bottom: -125px;
      #landing-titleContainer,
      #landing-subtitleContainer {
        display: block;
      }
      #landing-titleContainer {
        width: 520px;
        top: -215px;
        left: 260px;
      }
      #landing-subtitleContainer {
        width: 455px;
        top: -232px;
        left: 300px;
      }
    }
  }
}




// SECTION BREAK STYLES ------------------------------------------------------------ NEW!!!!

.sectionBreakImg {
    position: relative;
    height: 250px;
    width: 150%;
    margin: 10rem 0 5rem;
    margin-left: -50%;
    border-right: 5px solid $edi-base;
    border-bottom: 1px solid $edi-base;
  }
  .conclusionImg::before {    
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-image: url("../images/conclusionImage.jpeg");
  }
  .geogVulnImg::before {    
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-image: url("../images/vancouver-skyline.jpg");
  }
  .bigPictureImg::before {    
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.95;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-image: url("../images/bigPicture.jpg");
  }
  .exploringDeeperImg::before {    
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-image: url("../images/exploringDeeper.jpg");
  }

.ediSynthSectionTitle {
  margin-left: 33%;
  font-size: 3rem;
  z-index: 2;
}


// TOOLTIP STYLES ------------------------------------------------ NEW!!!!!

.tooltip-inner {
  background-color: $light;
  color: $dark;
}

.bs-tooltip-top .arrow::before {
  border-top-color: $light;
}





// PARTICIPATION/DEMOGRAPHICS

#demoNumTable_btn,
#demoPercentTable_btn {
  padding: 0.5rem 1.5rem;
}


// TABLE STYLES

#demoNumTable {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
#demoPercentTable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: visible;
}

.tableContainer {
  position: relative;
  height: 315px;
  margin-bottom: 0rem;
}
.table thead tr th, #demoPercentTable thead tr th {
  text-align: left;
}
.table tbody tr td, #demoPercentTable tbody tr td {
  text-align: right;
}
#nhHighLowTable thead tr th, #demoPercentTable thead tr th {
  text-align: right;
}
.waveTableHeader th {
  text-align: right !important;
}



// EDI DATA COLLECTION STYLES ------------------------------- NEW!!

.accordionContainer {
  border-top: 1px solid $med;
}

// MEANINGFUL CHANGE
#meaningfulChangeIconLegend {
  .mcIconImg {
    width: 30px;
  }
  p {
    margin-bottom: 0;
  }
}
.meaningfulChange {
  position: relative;
  top: -190px;
  .mcIconImg {
    width: 25px;
  }
  .mcIconLabel {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  > .col-5 > p {
    margin-bottom: 0;
  }
}
#vuln1orMore_meaningfulChange {
  width: 150px;
  position: relative;
  top: -122px;
  right: -775px;
}
.scales_meaningfulChange {
  width: 150px;
  position: absolute;
  top: 380px;
  right: -15px;
}
.scales_communication_meaningfulChange {
  width: 150px;
  position: absolute;
  top: 320px;
  right: -15px;
}


// OVERALL OUTCOMES DESCRIPTION DIAGRAM STYLES

#outcomesGraphic {
  padding: 1rem;

  #fiveScalesEDIRow {
    padding: 1rem;
    .fiveScalesEDIIcons {
      .scaleIconsOutcomes {
        width: 75px;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .bracketDivider {
    height: 15px;
    border-bottom: 2px solid $med;
    border-right: 2px solid $med;
    border-left: 2px solid $med;
  }
  .bracketDividerConnector {
    height: 32px;
    width: 2px;
    margin: 0 auto;
  }

  #scaleLevelOutcomesRow, #overallOutcomesRow {
    #overallOutcomeBoxes {
      min-height: 247px;
    }
    .scaleOutcomeBox {
      height: 100%;
      min-height: 255px;
    }
    .outcomesBarDiagram {
      height: 15px;
      width: 100%;
      & .vulnOutcomesBarDiagram {
        width: 10%;
      }
      & .inFluxOutcomesBarDiagram {
        width: 25%;
      }
      & .onTrackOutcomesBarDiagram {
        width: 65%;
      }
      & .activeBarDiagram {
        border: 1px solid $dark;
      }
    }
  }

}


// MAPBOX MAP STYLES
/**
* Create a position for the map
* on the page */

#mapVuln1orMore {
  position: relative;
  top: 0;
  bottom: 0;
  width: auto;
  height: 600px;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */

.edi-synth-map-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-height: 75%;
  right: 30px;
  background: #fff;
  overflow: auto;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.legendClasses {
  width: 120px;
  height: auto;
}

// NH DISPARITY SECTION

#vulnDisparity_innerWrap {
  position: relative;
}
#vuln1orMoreTrend_vulndisparity {
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 5;
}
#nhOutcomeRanges p {
  margin-bottom: 0;
}




// SCALE SUBSCALE DIAGRAMS

.scaleIcons {
  width: 75px;
}
.subscaleList {
  color: $grey-base;
  list-style: none;
  margin-left: 38px;
  a.subscaleListName {
    color: $dark;
    font-weight: 400 !important;
  }
  ul.subscaleListDescription {
    list-style: none;
    padding-left: 0;
    font-size: 0.9rem;
    color: $med;
  }
}

#trend_socialSubscales,#trend_emotionalSubscales,#trend_physicalSubscales,#trend_languageSubscales,#trend_communicationSubscales {
  top: -100px;
  margin-bottom: -100px;
}

#social-subscales-container,
#emotional-subscales-container,
#physical-subscales-container,
#language-subscales-container,
#communication-subscales-container {
  position: relative;
}

.yAxisArrowUP {
  position: absolute;
  top: 75px;
  right: 90px;
  height: 100px;
  width: auto;
}
.yAxisArrowDOWN {
  position: absolute;
  bottom: 135px;
  right: 90px;
  height: 100px;
  width: auto;
}

.subscales_legend_meaningfulChange {
  position: relative;
  top: -25px;
  .subscaleLegendItem {
    margin-left: 2.5rem;
    font-size: 14px;
    p.socialColor {
      font-size: 0.9rem;
      color: #3182BD;
      margin-bottom: 1rem;
    }
    .legendLine {
      width: 100px;
      height: 20px;
      margin-right: 1rem;
    }
  }
  .mcIconLabel {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .mcIconImg {
    width: 20px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
}

// CONCLUSION SECTION

.stayTunedImg {
  width: 100px;
  height: auto;
}

#citations {
  ol > li {
    color: $med;
    font-size: $small-body-font-size;
    margin-bottom: 1rem;
  }
}

// --------------------------------------- NEW !! --------------------------

a.inTextCitation {
  color: $med;
  &:hover {
    color: $edi-base;
  }
}

#introduction a.inTextCitation {
  font-size: 0.8rem;
}
